@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    padding: 0px;

}
.p-1{
    padding: 10px;
}

#About{
    font-size: 17px;
    display: inline;
    position: absolute;
   bottom: -7px;
    right: 93px;
    color: white;
}
#Usman{
    color: rgba(52,25,172,0.75);
    font-weight: bold;
}
.home{
    color: rgba(80, 48, 221, 0.75);
}
 
 
 
 form{
    padding: 0px 0px 0px 306px;
    padding-top: 5px;}


 
 .paddingr{
    padding-right: 0%;
 }


/* margin */
.mb-1{
    margin-bottom: -29px;
}

.mb-2{
    margin-bottom:89px;
}
.mb{
    margin-bottom: 15px;
}
.mb{
    margin-bottom: 20px;
}

.mb{
    margin-bottom:25px;
}

/* 
Margin top */
.mt-1{
   margin-top: 0px;
}


.mt{
    margin-top :15px;
}
.mt{
    margin-top: 20px;
}

.mt{
    margin-top: 25px;
}

/* for Text */
 
h1{
    position: absolute;
    top: -9px;
    left: 137px;
    font-size: 23px;
    color: #FFF;
    font-weight: normal;
}

.container{
 width: 1008px;
 height: 42px;
 margin-top: -74;

 margin-left: 3px;
 box-shadow: -3px 12px 0px -8px rgba(52,25,172,0.75);
 -webkit-box-shadow: -3px 12px 0px -8px rgba(52,25,172,0.75);
 -moz-box-shadow: -3px 12px 0px -8px rgba(52,25,172,0.75);
  text-align: center;
  position: relative;
}
.container3{
    width: 1008px;
    height: 48px;
    margin-top: -74;
margin: auto;
text-align: center;
position: relative;
left: 3px; }

.display{
    display: inline-block;
}
.display2{
    display: inline;
}




.border{
    border: 1px solid rgb(70, 69, 69);
    background-color: rgb(73, 71, 71);
    
}
.font{
    color:#4129af ;
}

   
p2,p3{
    color: rgb(250, 246, 246);
}
.container2 {
    background: #000 url(./pexels-breakingpic-3061.jpg);
    color: #FFF;
    /* background-size: cover;
    background-blend-mode: darken; */
    width:1010px ;
    height: 350px;
    margin-top: 5px;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    justify-items: center;
    /* margin-top: -29px; */
   margin-left: 3px;
   position: relative;
   
   
   
}
.container4{
    background-color: #4129af;
    color: #FFF;
    width: 90px;
    height: 40px;
    border: #4129af;
    border-radius: 5px;
    display: block;
    margin-top: 2px;
    cursor: pointer;
}

.color-overlay{
    width: 100%;
    height: 101%;
   background: #000;
   opacity: .7;
    margin-top: --18px;
  margin-left: 0%;
  position: absolute;
  top: -1px;
}
   .border1{
    width: 294px;
    height: 210px;
    border: 3px solid rgb(216, 211, 211);
    position:absolute;
    top: 33px;
    left: 114px;
text-align: center; 
}

    .border2{
        width: 294px;
        height: 210px;
        border: 3px solid rgb(216, 211, 211)e;
        position:absolute;
        top: 36px;
        left: 363px; 
        text-align: center;
       
    }
    .border3{
        width: 288px;
        height: 210;
        border: 3px solid rgb(216, 211, 211);
        position:absolute;
        top: 34px;
        left: 656px; 
        text-align: center;
       
    }
    #icon p{
        font-size: 12px;
        position: relative;
       top: -35px;
    }
    h5{
        position: relative;
       top: -20px;
    }




 
.text{
    position: absolute;
    top: 153px;
    right: 40px;
    z-index: 1;
}
h2{
    position: absolute;
    top: 84px;
    right: 373px;
    z-index: 1;
 font-size: 37px;
}
 
.margin{
    margin: 0px;
}
h3{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 8px;
color: #fbfbfd;
}
input{
    width: 146px;
    height: 32px;
    border: #fbfbfd;
    border-radius: 5px;
    display: inline;
}
.btn{
    background-color: #4129af;
    color: #FFF;
    width: 80px;
    height: 32px;
    border: #4129af;
    border-radius: 5px;
    display: inline;
    margin-top: 2px;
    cursor: pointer;
}
.btn2{
    background-color: #4129af;
    color: #FFF;
    width: 90px;
    height: 40px;
    border: #4129af;
    border-radius: 5px;
    display: inline;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    top: 207px;
    right: 458px;
}


h4{
    text-align: center;
   position: relative;
   top: -19px;
}
#para-J{
    position: relative;
    top: -4px;
}

.padding-t{
    padding-top: 3px;
}
.icon-container{
    width: 1010px;
    height: 217px;
    background-color: rgb(216, 211, 211);
    display: inline-block;
     position: relative;
    left: 3px;
    /* top: 1px;
    margin: auto; 
     */
}

h4{
    position: relative;
    top: -13px;
    left: 31px;
    font-size: 18px;
}
.margin-icon{
   margin-left: 30px;
}

.fa-brands{
    font-size: 89px;
    text-align: center;
}
.container4{
    width: 1010px;
    height: 42px;
position: relative;
top: -20px;
left: 3px;
background-color: #4129af;
border-radius: 0%;
text-align: center;
}
#last-para{
    position: relative;
    top: 11px;
}